<div {{ attributes }}>

    <h1>Quiz</h1>
    {{ form_start(form) }}

    <div class="mb-3">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.state) }}
        {{ form_widget(form.state) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.questions) }}
        {{ form_widget(form.questions) }}
        {#{{ form_widget(form.questions.vars.button_add) }}#}
    </div>

    <button type="submit" class="btn btn-success" formnovalidate="">Send</button>
    {{ form_end(form) }}

</div>