<div {{attributes}} >


<h1>Quiz</h1>
    {{ form_start(form) }}
    {{ form_row(form.title)}}
    {{ form_widget(form.questions.vars.button_add) }}
    {{ form_end(form) }}

    <button type="submit" class="btn btn-success" formnovalidate="">Send</button>

</div>
